@import url('https://fonts.cdnfonts.com/css/shmup-in-the-zone');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgp {
    display: flex;
}

#bgp h1, .flag-img{
    font-family: 'SHMUP in the zone', sans-serif;
    font-size: 4vw;
    font-weight: 900;
    color: #333;
    margin-bottom: 16rem;
}

.main-img {
    animation-name: ani;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    filter: drop-shadow(5px 5px 5px #aaa);
}

@keyframes ani {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-15px)
    }
}
