@import url('https://fonts.cdnfonts.com/css/shmup-in-the-zone');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SHMUP in the zone', sans-serif;
}

#bgp {
    display: flex;
}

#bgp h1, .flag-img{
    font-size: 4vw;
    font-weight: 900;
    color: #FFF;
    margin-bottom: 10rem;
    text-shadow: 10px 10px 10px #000;
}

.flag-img {
    width: 5%;
}

.h2-btn {
    font-size: 1.5rem;
    color: #FFF;

}

.main-img {
    animation-name: ani;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    filter: drop-shadow(5px 5px 5px #f5f5f5);
}

@keyframes ani {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-15px)
    }
}


.r-arrow {
    width: 2rem;
    margin-right: 8px;
    -webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


@media(max-width: 900px){

    .title-sec {
        flex-direction: column;
        z-index: 1;
        gap: 5rem;
        padding-top: 13rem;
    }

    #bgp {
        flex-direction: column;
    }

    .main-img {
        position: absolute;
        width: 230px;
        z-index: 0;
        top: 10rem;
    }

    .flag-img {
        display: none;
    }
}
