*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.car {
    width: auto;
    transform: scaleX(-1);
}

#track {
    padding-left: 5%;
}


.tooltip{
    width: 5%;
    display: block;
}

.tooltip:hover {
    .ttText{
        display: block;
    }
}

.ttText {
    display: none;
    position: absolute;
    width: fit-content;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: 80%;
}

Button {
    position: absolute;
    top: -280px;
}


@media(max-width: 600px){
    #track{
        rotate: -90deg;
        width: 200%;
    }
}