*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.car {
    width: auto;
    transform: scaleX(-1);
}

#track {
    height: fit-content;
    background: repeat-y center center;
    background-size: cover;
}

.greetingText {
    display:none;
}


.tooltip{
    width: 5%;
    display: block;
}

.tooltip:hover .ttText{
    
    display: block;
    
}

.ttText {
    display: none;
    position: absolute;
    width: fit-content;
    z-index: 9;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: 80%;
}

#update {
    position: absolute;
    bottom: 4rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 20px;
    padding: 20px;
    box-shadow: 3px 3px 1px 5px #696969;
    margin-left: 12px;
    margin-top: 2rem;
}

#update input {
    text-align: center;
}


.drawer-icon {
    width: 2rem;
}



/* Button {
    position: absolute;
    top: -280px;
} */ 


@media(max-width: 600px){

    #track{
        margin-top: 14rem;
        padding-left: 0;
        rotate: -90deg;
        width: 80vw;
        background-repeat: no-repeat;
    }

    .car {
        margin-left: 2rem;
    }
}